body {
    background: #F3F5FC;
    margin-top: 20px;
}

main {
    display: flex;
    margin: 0 0 50px 80px;
}

.buttons {
    border-radius: 1.5em;
    background-color: #AAB2D5;
    border: none;
    padding: 1em;
    margin: 2em;
    margin-top: 0;
    margin-right: 0;
    width: calc(150px);
}

.input-texto {
    background: #E0E5F0;
    border-radius: 1.5em;
    border: none;
    padding: 2em;
    margin: 2em;
    margin-bottom: 1em;
}

.input-texto::placeholder {
    font-size: 2em;
    height: 70px;
    padding-top: 20px;
    padding-left: 20px;
}

.mensaje {
    background-image: url(imagenes/munieco.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: white;
    border-radius: 1.5em;
    border: none;
    padding: 2em;
    margin: 2em;
    margin-bottom: 1em;
}